<!DOCTYPE html>
<html>
<head>
  <title>GroupApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
  
    <script type = "text/javascript" src = "app/hello.js"></script>
	
    <script type = "text/javascript" src = "app/underscore-min.js"></script>
    <script type = "text/javascript" src = "app/backbone-min.js"></script>
	<script type = "text/javascript" src = "app/backbone-min.js"></script>
	<script type = "text/javascript" src = "app/person-model.js"></script>
	<script type = "text/javascript" src = "app/group_sync.js"></script>
    <script type = "text/javascript" src = "app/group-model.js"> </script>
	<script type = "text/javascript" src = "app/group-controller.js"> </script>
    <script type = "text/javascript" src = "app/person-controller.js"> </script>
	<script type = "text/javascript" src = "app/main.js"> </script>	
	
</head>
<body>
    <div id = "main">Group Dp-056-UI 
	    <ul id = "list" class = "list"></ul>
	</div>
<%= yield %>

</body>
</html>
